<div class="panel panel-default">
    <div class="panel-heading">
        <h2>メッセージ一覧</h2>
    </div>
    
    <div class="panel-body">
        <% @messages.each do |message| %>
            <span class="label label-warning"><%= message.name %></span>
            <%= message.body %>
            ｜<%= link_to "編集" , edit_message_path(message) %>
            <%= link_to "削除" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
            
            <br>
        <% end %>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        <h2>投稿フォーム</h2>
    </div>
    <div class="panel-body">

<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>

  </div>
</div>